@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");

body {
  font-family: "Cairo", sans-serif !important;
  @apply font-sans;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.image-gallery-bullets {
  bottom: -24px !important;
}

.alice-carousel__dots{
  @apply relative !bottom-[-24px] !m-0
}
.image-gallery-bullets-container{
  @apply !rotate-180
}
.image-gallery-bullet, .alice-carousel__dots-item {
  @apply !border !border-primary !shadow-none !bg-transparent !m-1 !p-[2px] !w-auto !h-auto;
}

.image-gallery-bullet.active, .alice-carousel__dots-item.__active {
  @apply !border-2 !scale-[1.2] ;
}

.image-gallery-slides{
  @apply !rounded-2xl;
  box-shadow: 0px 7px 11px 0px rgba(3, 9, 28, 0.15);
}
.description_modal .image-gallery-slides{
  @apply !rounded-xl
}
.description_modal .image-gallery-image{
  @apply !rounded-xl !h-auto aspect-[268/213];
}
.image-gallery-thumbnails-container{
  @apply flex justify-center items-center;
}

.image-gallery-image{
  @apply !rounded-2xl !h-[262px] !object-cover;
}

.image-gallery-thumbnail-image{
  @apply !rounded-xl !h-[72px] !object-cover;
}

.image-gallery-thumbnails{
  @apply !pt-2;
}
.image-gallery-thumbnail{
  @apply !rounded-xl hover:!border-transparent !flex-grow;
}

.image-gallery-thumbnail.active{
  @apply !border-2 !border-primary;
}

.alice-carousel__prev-btn, .alice-carousel__next-btn{
  @apply !hidden;
}


/*scrollbar*/
.fancy-scroll::-webkit-scrollbar{
  height: 8px;
}
.fancy-scroll::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
  @apply bg-black;
  border-radius: 20px;
}

.fancy-scroll::-webkit-scrollbar-thumb  {
  height: 8px;
  border-radius: 20px;
  @apply bg-primary
}

.fancy-scroll::-webkit-scrollbar-thumb:hover:hover{
  @apply bg-darkGray
}

/* hide the scrollbar on touch screens (mobile or tablet) */
@media (hover: none), (pointer: coarse){
  .fancy-scroll::-webkit-scrollbar {
    display: none;
  }
}